# diff

# version
# INAV/OMNIBUS 1.7.3 Sep  9 2017 / 10:09:29 (974440df)

# resources

# mixer

# servo

# servo mix

# feature

# beeper

# map

# name

# serial

# led

# color

# mode_color

# aux

# adjrange

# rxrange

# master
set acc_hardware = MPU6000
set mag_hardware = NONE
set baro_hardware = BMP280
set pitot_hardware = NONE

# profile
profile 1
